<portareos>
  <SM8550 mkimage_options="abl" dtb_prefix="qcom">
    <file short="odin2" full="AYN Odin2">qcs8550-ayn-odin2</file>
    <file short="odin2portal" full="AYN Odin2 Portal">qcs8550-ayn-odin2portal</file>
    <file short="odin2mini" full="AYN Odin2 Mini">qcs8550-ayn-odin2mini</file>
    <file short="thor" full="AYN Thor">qcs8550-ayn-thor</file>
    <file short="rp6" full="Retroid Pocket 6">qcs8550-retroidpocket-rp6</file>
    <file short="rp6dpad" full="Retroid Pocket 6 TOP-DPAD">qcs8550-retroidpocket-rp6-top-dpad</file>
    <file short="rpnova" full="Retroid Pocket Nova">qcs8550-retroidpocket-rpnova</file>
  </SM8550>
</portareos>
