<portareos>
  <SM8550 mkimage_options="abl" dtb_prefix="qcom">
    <file short="odin2" full="AYN Odin2">qcs8550-ayn-odin2</file>
    <file short="odin2portal" full="AYN Odin2 Portal">qcs8550-ayn-odin2portal</file>
    <file short="odin2mini" full="AYN Odin2 Mini">qcs8550-ayn-odin2mini</file>
    <file short="thor" full="AYN Thor">qcs8550-ayn-thor</file>
    <file short="pocketace" full="AYANEO Pocket ACE">qcs8550-ayaneo-pocketace</file>
    <file short="pocketdmg" full="AYANEO Pocket DMG">qcs8550-ayaneo-pocketdmg</file>
    <file short="pocketevo" full="AYANEO Pocket EVO">qcs8550-ayaneo-pocketevo</file>
    <file short="pocketds" full="AYANEO Pocket DS">qcs8550-ayaneo-pocketds</file>
    <file short="pocketsmini" full="AYANEO Pocket S Mini">qcs8550-ayaneo-pocketsmini</file>
    <file short="pockets2k" full="AYANEO Pocket S 2K">qcs8550-ayaneo-pockets2k</file>
    <file short="pockets1k" full="AYANEO Pocket S 1K">qcs8550-ayaneo-pockets1k</file>
    <file short="rp6" full="Retroid Pocket 6">qcs8550-retroidpocket-rp6</file>
    <file short="rp6dpad" full="Retroid Pocket 6 TOP-DPAD">qcs8550-retroidpocket-rp6-top-dpad</file>
    <file short="rpnova" full="Retroid Pocket Nova">qcs8550-retroidpocket-rpnova</file>
  </SM8550>
</portareos>
